<li>
	{{burger_name}}

	{{#if devoured}}
		<button class="change-devoured" data-id="{{id}}" data-newburger="{{devoured}}">
			Devour!
		</button>
	{{/if}}

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>